.box-layout {
    background: url('/bg.jpg');
    background-size: cover;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.box-layout__box{
    border-radius: 3px;
    background: fade-out($color: white, $amount: .15);
    text-align: center;
    width: 25rem;
    padding: $l-size $m-size;
}

.box-layout__title{
    margin: 0 0 $m-size 0;
    line-height: 1;

}
