.text-input {
    border: 1px solid #dbdbdb;;
    height: 48px;
    padding: $s-size;
    font-size: $font-size-large;
    font-weight: 300;
    border-radius: 2px;
    color: #484848;
}

.select{
    @extend .text-input;
}

.textarea {
    @extend .text-input;
    height: 10rem;
}